@model project_hospital_management_system.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-user-plus"></i> Create New User Account</h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">
                                <h4><i class="fa fa-id-card"></i> Personal Information</h4>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4><i class="fa fa-briefcase"></i> Professional Information</h4>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Role, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Role, ViewBag.Roles as SelectList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Department, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Department, ViewBag.Departments as SelectList, "-- Select Department --", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.JobTitle, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group" id="doctorIdGroup" style="display: none;">
                                    @Html.LabelFor(m => m.DoctorId, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.DoctorId, ViewBag.Doctors as SelectList, "-- Select Doctor --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Register
                                </button>
                                <a href="@Url.Action("Login", "Account")" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Back to Login
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            // Show/hide Doctor ID field based on selected role
            $('#Role').change(function () {
                if ($(this).val() === '@ApplicationRoles.Doctor') {
                    $('#doctorIdGroup').show();
                } else {
                    $('#doctorIdGroup').hide();
                    $('#DoctorId').val('');
                }
            });

            // Trigger the change event on page load
            $('#Role').trigger('change');
        });
    </script>
}
