﻿﻿@model project_hospital_management_system.Models.Prescription

@{
    ViewBag.Title = "Prescription Details";
}

<h2>Prescription Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrescriptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
