﻿@model IEnumerable<project_hospital_management_system.Models.Invoice>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @{
                string statusClass = "";
                switch (item.Status)
                {
                    case "Paid":
                        statusClass = "label label-success";
                        break;
                    case "Pending":
                        statusClass = "label label-warning";
                        break;
                    case "Overdue":
                        statusClass = "label label-danger";
                        break;
                }
            }
            <span class="@statusClass">@Html.DisplayFor(modelItem => item.Status)</span>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
